html{ width: 100%; }
body{ 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;;
  font-size: 75%;
  background: #fff;
}
svg {
  width: 100%;
  height: 100%;
}
.line {
  stroke-width: 2px;
}

.rect-with-text rect {
  fill: #e8e8e8;
}
.rect-with-text text {
  fill: #000;
  cursor: default;
}

.Program rect {
  fill: #0e0909;
}
.Program text {
  fill: #fff;
}

.FunctionDeclaration rect {
  fill: #2f6299;
}
.FunctionDeclaration text {
  fill: #fff;
}

.Variable rect {
  fill: #90eaaf;
}
.Variable text {
  fill: #000;
}